<h2>Submit Your Vote</h2>
<form [formGroup]="voteForm" (ngSubmit)="onSubmit()">
    Email: <input id="email" type="email" name="email" value="" formControlName="email"> 
    <div>
        <input id="angular" name="vote" type="radio" value="angular" formControlName="vote">
        <label for="angular">Angular</label>
    </div>
    <div>
        <input id="ember" name="vote" type="radio" value="ember" formControlName="vote">
        <label for="ember">Ember</label>
    </div>
    <div>
        <input id="react" name="vote" type="radio" value="react" formControlName="vote">
        <label for="react">React</label>
    </div>
    <div>
        <input id="vue" name="vote" type="radio" value="vue" formControlName="vote">
        <label for="vue">Vue</label>
    </div>
    <div *ngIf="isSubmitted && myForm.errors?.required">
        <p>Please enter your data correctly</p>
     </div>
    <button type="submit">Submit</button>
</form>